dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.graphs-container {
  display: flex;
  justify-content: space-between;
}
 
// Barchart,
// Graphs {
//   justify-content: space-between;
// }
