

.profile_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card-label {
  font-size: 20px;
  color: black;
}

// .cover {
//   background-size: cover;
//   background-repeat: no-repeat;
// }
